body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;

}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}